# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
vclenv/
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
.system_generated/
/implementation_plan.md
/walkthrough.md
/task.md
.gemini/
